.main {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  height: 100vh;
}

.option-container {
  padding: 12rpx 2rpx;
  overflow-y: auto;
  flex-grow: 1;
}

.option-zone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24rpx;
  margin: 6rpx 4rpx;
  border-radius: 8rpx;
  background-color: white;
  font-weight: 500;
}

.option-grid {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  border: none;
}

.option-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 4rpx;
  margin: 4rpx 0;
}

.option-box-h {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 4rpx 0;
  margin: 4rpx 0;
}

.option-cell {
  box-shadow: none;
  border: none;
}

.option-title {
  display: block;
  text-align: center;
  padding: 12px 0;
  font-weight: 400;
}

.option {
  border: none;
}

/* 选中状态 */
.sel-option {
  color: white;
  font-weight: 400;
  border-radius: 8px;
  background: #2250d0;
}

.prompt-zone {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 24rpx;
  padding: 4px;
  background-color: #2250d0;
  color: white;
  border-radius: 8px;
  height: 380rpx;
}

.title {
  display: block;
  text-align: center;
  margin: 10px 0;
  font-weight: 400;
}

.subtitle {
  display: block;
  font-size: small;
  font-weight: 400;
}

.content {
  font-size: small;
  font-weight: 300;
  text-align: center;
  margin: 4px 2px;
}

.nut-collapse-item__content {
  border: none;
}

.nut-grid-item__content {
  border: 1px solid white; /* 避免选中时因为边框宽度变化而晃动 */
  border-radius: 8px;
  background: transparent;
  padding: 2rpx;
}

.nut-input {
  padding: 14px 4px;
}

.nut-range-container {
  min-height: 60px;
}

.nut-textarea {
  padding: 0;
}