.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: white;
}

.text {
  font-size: 14px;
  font-weight: 400;
  padding: 8px 2px 18px 2px;
  color: darkgray;
}